<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>404 NotFound News</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/ticker-style.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="./css/site.css">
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="css/colors.css" rel="stylesheet">
    <style>
        /* Mặc định menu bị ẩn */
        .dropdown-menu {
            position: absolute;
            top: 100%; /* Đặt menu ngay dưới nút */
            left: 95%; /* Canh giữa với nút */
            transform: translateX(-50%); /* Đưa menu về giữa */

            width: 200px; /* Chiều rộng menu */
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000; /* Đảm bảo menu nằm trên các thành phần khác */
            display: none; /* Mặc định ẩn */
        }

            .dropdown-menu.show {
                display: block; /* Hiển thị menu */
            }

        .parent-container {
            overflow: visible; /* Cho phép menu hiển thị đầy đủ */
            position: relative; /* Cần thiết để căn chỉnh menu */
        }

        .btn-avatar {
            width: 48px; /* Tương đương w-12 */
            height: 48px; /* Tương đương h-12 */
            border-radius: 50%; /* Bo tròn hoàn toàn */
            overflow: hidden; /* Ẩn phần hình ảnh vượt ra ngoài */
            display: inline-block;
            padding: 0; /* Loại bỏ khoảng cách mặc định */
        }

            .btn-avatar img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Lấp đầy và giữ tỷ lệ */
                display: block; /* Loại bỏ khoảng cách mặc định của ảnh */
            }

    </style>
    <!-- Version Tech CSS for this template -->
    <link href="css/version/tech.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="tech-index.html"><img src="images/version/tech-logo.png" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto" id="categories-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Admin")">
                                        <i class="fa fa-cogs"></i> Admin Setting
                                    </a>
                                </li>
                            }
                        </ul>
                        @* <ul class="navbar-nav mr-2">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello, @User.Identity.Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="@Url.Action("Profile", "Author")">Profile</a>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Author")">Logout</a>
                        </div>
                        </li>
                        }
                        else
                        {
                        <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Author")"><i class="fa fa-user"></i></a>
                        </li>
                        }
                        </ul> *@

                    </div>
                    <div class="relative">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="btn-avatar rounded-full overflow-hidden w-12 h-12">
                                <img src="/data/images/614b64d5-92c4-4b48-ae4c-29e33255f953.jpg" alt="avatar" class="w-full h-full object-cover">
                            </button>
                            <div class="dropdown-menu">
                                <div class="p-4">

                                    <a @* href="mailto:c.fisher@gmail.com" *@ class="text-xs text-gray-600">Hello, @User.Identity.Name</a>
                                </div>
                                <div class="border-t my-2"></div>

                                <a class="block px-4 py-2 text-sm" href="Author/Profile">Settings</a>
                                <div class="border-t my-2"></div>
                                <a class="block px-4 py-2 text-sm text-red-600" href="@Url.Action("Logout", "Author")">Log Out</a>
                            </div>
                        }
                        else
                        {
                            <a class="nav-link" href="@Url.Action("Login", "Author")"><i class="fa fa-user"></i></a>
                        }
                    </div>




                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
    </div>
    @RenderBody();


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Gọi API để lấy danh sách categories
            $.ajax({
                url: '/Categories/Getlist', // Đường dẫn API
                method: 'GET',
                success: function (data) {
                    console.log('Dữ liệu API trả về:', data); // Log dữ liệu API để kiểm tra

                    // Lọc danh mục có status = 1
                    const activeCategories = data.filter(category => category.status === 1);

                    // Duyệt qua các danh mục đã lọc và chèn từng mục vào HTML
                    activeCategories.forEach(category => {
                        $('#categories-menu').append(
                            `<li class="nav-item">
                                    <a class="nav-link" href="/${category.id}">${category.categoryName}</a>
                                </li>`
                        );
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Lỗi khi gọi API:', error);
                    $('#categories-menu').append('<li class="nav-item"><a class="nav-link">Error loading categories</a></li>');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            const avatarBtn = document.querySelector('.btn-avatar'); // Nút avatar
            const dropdownMenu = document.querySelector('.dropdown-menu'); // Menu cần mở
            if (avatarBtn && dropdownMenu) {
                // Mở menu khi nhấn vào avatar
                avatarBtn.addEventListener('click', (e) => {
                    e.stopPropagation(); // Ngăn sự kiện lan ra ngoài
                    dropdownMenu.classList.toggle('show'); // Hiển thị hoặc ẩn menu
                });

                // Ẩn menu khi nhấn ra ngoài
                document.addEventListener('click', () => {
                    dropdownMenu.classList.remove('show'); // Ẩn menu
                });
            }
        });

    </script>

    <!-- JS here -->
    @*     <script src="~/js/site.js"></script>
    *@    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="./assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Breaking New Pluging -->
    <script src="./assets/js/jquery.ticker.js"></script>
    @*      <script src="./assets/js/site.js"></script>
    *@
    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    @* <script src="./assets/js/main.js"></script>  *@

    @*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    *@    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>