@{
    var imageList = ViewBag.ImageList as List<NewsAPI.DTOs.ImageDTO>;
    var categoryList = ViewBag.CategoryList as List<NewsAPI.DTOs.CategoryDTO>;
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h1 class="pull-left" style="font-size: 50px;">Recent News <a href="#"><i class="fa fa-rss"></i></a></h1>
                    </div>
                    @model List<NewsAPI.DTOs.PostDTO>
                    <div class="blog-list clearfix">
                        @foreach (var post in Model)
                        {
                            var currentCategory = (ViewBag.CategoryList as List<NewsAPI.DTOs.CategoryDTO>)?.FirstOrDefault(c => c.Id == post.CategoryId)?.CategoryName ?? "Unknown";
                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="@Url.Action("Details", "Posts", new { slug = post.Slug })" title="">
                                            <img src="@ImageHelper.GetImageUrl(post.Id, imageList)" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div>
                                </div>

                                <div class="blog-meta big-meta col-md-8">
                                    <h2><a href="@Url.Action("Details", "Posts", new { slug = post.Slug })" title="">@post.Title</a></h2>
                                    <p>@TextHelper.TruncateText(post.Contents, 20)</p>
                                    <small class="firstsmall">
                                        <a class="bg-orange" href="#" title="">
                                            @currentCategory
                                        </a>
                                    </small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> @post.Views</a></small>
                                    <small><a href="#" title=""><i class="fa fa-thumbs-up"></i> @post.LikeNumber</a></small>
                                </div>
                            </div>

                            <hr class="invis">
                        }

                    </div>

                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, pageSize = ViewBag.PageSize })">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->
                </div>

            </div>
        </div>

    </div>
</section>
<!-- end wrapper -->
<!-- Core JavaScript
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
